<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema EtecFer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    

   
    </header>

    
    <main class="flex-grow-1 d-flex justify-content-center align-items-center bg-light">
        <div class="text-center">
            <h1 class="display-4 text-primary">Bem-vindo ao EtecFer</h1>
            <p class="lead">
                Sistema de gerenciamento de alunos, cursos, professores e disciplinas.
            </p>

            <a href="/alunos/listar" class="btn btn-primary btn-lg mt-3">
                Alunos
            </a>
             <a href="/cursos/listar" class="btn btn-primary btn-lg mt-3">
                Cursos
            </a>
             <a href="/professores/listar" class="btn btn-primary btn-lg mt-3">
                Professores
            </a>
             <a href="/disciplinas/listar" class="btn btn-primary btn-lg mt-3">
                Disciplinas
            </a>
        </div>
    </main>

    <!-- Rodapé -->
    <footer class="bg-dark text-white text-center py-3">
        © 2026 - Sistema EtecFer
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>